$width-root:100vw;
$height-root:100vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$width-per:45%;
$height-per:90%;
$color-1:#dedfe0;
$color-2:#b6c6d6;
$color-3:#5f87ac;
$color-4:#6f7a85;
$color-5:#4d5b69;
$color-6:#202a33;


// ------------------------------------------------------------------


.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}

@mixin menue-setting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin animation($name){
  animation-duration: 3s;
  animation-name: $name;
  animation-timing-function: linear;
}

@mixin keyframe($ani_name) {
  @keyframes #{$ani_name} {
    @content;
  }
}

@include keyframe(move){
  0%{
    left: -100vw; 
  }
  50%{
    left: 0%; 
  }

  100%{
    left: 0%; 
  }
}

// ------------------------------------------------------------------


@media(min-width:1020px){

  nav{
    @include box-style(100vw, 15vh, $color-2);
    @include flex-setting(space-around, center );
    @include position-setting(3);

    &>div{
      @include box-style(100vw, 30vh, $color-2);
      @include flex-setting(space-around, center );

      &>ul{
        @include box-style(50%, inherit, $color-2);
        border: $solid-black;
        @include position-setting(3);

        &:hover{
          top: 20vh;
        }
      }
    }


  }

  #root{
    @include root-style;
    @include flex-setting(space-around, flex-end );
    overflow: hidden;
  }

  main{
    @include size(100%, 80%);
    @include flex-setting(center, center );

    &>section{
    @include box-style(35vw, 35vw, $color-4);
    border-radius: 50%;
    }
  }

}