$width-root:100vw;
$height-root:100vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$width-per:45%;
$height-per:90%;
$color-1:#dedfe0;
$color-2:#b6c6d6;
$color-3:#5f87ac;
$color-4:#6f7a85;
$color-5:#4d5b69;
$color-6:#202a33;


// ------------------------------------------------------------------


.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}

@mixin menue-setting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin animation($name){
  animation-duration: 3s;
  animation-name: $name;
  animation-timing-function: linear;
}

@mixin keyframe($ani_name) {
  @keyframes #{$ani_name} {
    @content;
  }
}

@include keyframe(move){
  0%{
    left: -100vw; 
  }
  50%{
    left: 0%; 
  }

  100%{
    left: 0%; 
  }
}

// ------------------------------------------------------------------

@media(min-width:1020px){

  nav{
    @include box-style(100%, 15%, $color-2);
    @include position-setting(2);
    right: 0;
    transition: 1s;
    border-radius: 0;
  
    &:hover{
      right: 0;
    }
      
  
      &>ul{
      @include box-style(100vw, 15vh, $color-2);
      right: 0;
      opacity: 0;
      @include flex-setting(flex-start, flex-start );
      flex-direction: row;
  
      &:hover{
        height: 25vh;
        top: 2vh;
        right: 0;
        left: 0;
        opacity: 0.9;
      }
  
      &>ul{
        list-style-type: none;
        @include flex-setting(flex-start, flex-start );
        flex-direction: column;
        @include position-setting(3);
        left: 5vw;
  
        &>li{
          cursor: pointer;
  
          &:hover{
            color: $color-white
          }
        }
      }
    }

    main{
  
      &>section:nth-child(1){
        &>div:first-child{
        @include box-style(350px, 350px, $color-2);
        border-radius: 50%;
        }
    
        &>div:last-child{
          font-size: 30px;
          bottom: 100px;
          color: $color-5;
        }
      }
    }
  }
}





















