$width-root:100vw;
$height-root:250vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:rgb(114, 114, 114);
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:rgb(32, 42, 51);


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}

// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}

@mixin animation($name){
  animation-duration: 3s;
  animation-name: $name;
  animation-timing-function: linear;
}

@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin round-box($w){
  width: $w;
  height: 10%;
  border: $solid-gray;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}





// ------------------------------------------------------------------

#root{
  @include root-style;
  background-color: $color-1;
}

header{
  @include box-style($per-100, 100vh, $color-2);
  border-radius: 0px 0px 80px 80px;
  @include flex-setting(flex-end, flex-end );

  &>div{
    @include size(50vw, 5vh);
    @include font-style(32px, 600);
    position: relative;
    right: 10vw;
    bottom: 5vh
  }
}

main{
  @include size($per-100, 145vh);
  @include flex-setting(space-around, center);
  flex-direction: column;

  &>section{
    color: $color-4;
    width: $per-100;
  }

  &>section:nth-child(1){
    height: 30%;
    @include flex-setting(center, center);
    flex-direction: column;
    

    
    &>h1{
      @include size(90%, 15%);
      @include flex-setting(flex-start, center);
    }

    &>div:nth-child(2){
      @include size(90%, 30%);
      position: relative;


      &>div {
        @include box-style(180px, 120px, $color-2);
      }

      &>div:first-child{
        @include position-setting(1);
        top: 8vh;
        left: 5vw;
        transform: rotate(-12deg);
      }

      &>div:last-child{
        @include position-setting(2);
        bottom: 8vh;
        left: 30vw;
        transform: rotate(10deg);
      }
    }

    &>div:nth-child(3){
      @include size(90%, 55%);
      @include flex-setting(space-around, center );

      &>h3{
        @include size(35%, 12%);
        border: $solid-gray;
        border-radius: 30px;
        @include flex-setting(center, center );
      }

      &>div{
        @include size(45%, 60%);
      }
    }
  }

  &>section:nth-child(2){
    height: 30%;
    @include flex-setting(flex-end, center);


    &>div:first-child{
      @include box-style(300px,300px,$color-2 );
      border-radius: 50%;
      @include flex-setting(space-around, center);
      flex-direction: column;
      position: relative;
      right: 20vw;

      &>h3{
        @include size(30%, 10%);
        position: relative;
        z-index: 2;
        color: $color-6;
      }

      &>h3:nth-child(1){
        left: 10vw;
      }

      &>h3:nth-child(2){
        left: 15vw;
      }

      &>h3:nth-child(3){
        left: 10vw;
      }

      &>h3:nth-child(4){
        left: 15vw;
      }
      
      &>h3:nth-child(5){
        left: 10vw;
      }

    }

    &>div:last-child{
      @include size(60%, $per-100);
      @include flex-setting(center, flex-start);
      flex-direction: column;

      &>div {
        margin-top: 1vh;
        @include size(85%, 50%);
      }
    }
  }

  &>section:nth-child(3){
    height: 25%;
    @include flex-setting(center, center);

    &>div{
      @include size(48%, $per-100);
    }

    &>div:nth-child(1){
      @include flex-setting(space-evenly, center);
      flex-direction: column;
      
      &>h2:nth-child(1){
      @include size(90%, 20%);
      @include flex-setting(flex-start, center);
      }

      
      &>div:nth-child(2){
        @include size($per-100, 50%);
        @include flex-setting(space-evenly, center);
        flex-direction: column;

        &>div:first-child{
          @include box-style(60%, 60%, $color-2);
          border-radius: 20px;
          @include flex-setting(flex-start, flex-end);

          &>i{
            border-radius: 20px;
            font-size: 20px;
            color: $color-1;
            margin-left: 3vw;
            margin-bottom: 1vh;
          }
        }
        }

      &>h3:nth-child(3){
        @include size(70%, 10%);
        border: $solid-gray;
        border-radius: 30px;
        @include flex-setting(center, center);
        }
  
    }

    &>div:nth-child(2){
      @include flex-setting(space-evenly, center);
      flex-direction: column;

      &>div:nth-child(1){
        @include box-style(60%, 30%, $color-2);
        border-radius: 20px;
          @include flex-setting(flex-start, flex-end);

          &>i{
            border-radius: 20px;
            font-size: 20px;
            color: $color-1;
            margin-left: 3vw;
            margin-bottom: 1vh;
          }
      }

      &>div:nth-child(3){
        @include box-style(60%, 30%, $color-2);
        border-radius: 20px;
          @include flex-setting(flex-start, flex-end);

          &>i{
            border-radius: 20px;
            font-size: 20px;
            color: $color-1;
            margin-left: 3vw;
            margin-bottom: 1vh;
          }
      }
    }
  }

  &>section:nth-child(4){
    @include size(95%, 25%);
    @include flex-setting(center, center);

    
    &>div{
      @include size(48%, $per-100);
    }

    &>div:first-child{
      @include flex-setting(center, center);
      flex-direction: column;

      &>div{
        @include box-style(80%, 40%, $color-2);
        border-radius: 30px;
        position: relative;
      }

      &>div:first-child{
        z-index: 1;
        top: 3vh;
        right: 2vw;
      }

      &>div:last-child{
        z-index: 2;
        left: 10vw;
      }
    }

    &>div:last-child{
      @include flex-setting(space-evenly, center);
      flex-direction: column;

      &>div{
        @include round-box(50%);
      }

      &>div:nth-child(1){
        @include round-box(60%);
      }

    }
  }
}

footer{
  @include size($per-100, 5vh); 
  @include flex-setting(center, center);

  &>div{
    @include size(90%, 80%);
    text-align: center;
  }

}