$width-root:100vw;
$height-root:100vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$width-per:45%;
$height-per:90%;
$color-1:#dedfe0;
$color-2:#b6c6d6;
$color-3:#5f87ac;
$color-4:#6f7a85;
$color-5:#4d5b69;
$color-6:#202a33;


// ------------------------------------------------------------------


*{margin: 0; padding: 0;}

// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}

@mixin menue-setting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


// ------------------------------------------------------------------

#root{
  @include root-style;
  @include flex-setting(space-around, flex-start );
  overflow: hidden;
}

nav{
    @include box-style(70%, 15%, $color-2);
    border-radius: 50px;
    @include position-setting(2);
    right: 160px;
    transition: 1s;

    &:hover{
      right: 50px;
    }
  }
  
  #menu{
    @include position-setting(3);
    @include box-style(70vw, 100vh, $color-2);
    @include flex-setting(space-around,center );
    flex-direction: column;
    border-radius: 50px;
    opacity: 0.8;
    transition: 0.1s;

    right: 200px;
    // display: none;

    &:hover{
      right: 0px;
    }

    &>div{
      @include menue-setting;

      &>div{
        @include size(80%, 30%);
      }

      &>ul{
        list-style-type: none;
        @include size(80%, 70%);
      }
    }
    
    &>div:nth-child(1){
      @include size(50%, 5%);
    }

    &>div:nth-child(2){
      @include size(50%, 10%);
    }

    &>div:nth-child(3){
      @include size(50%, 20%);
    }

    &>div:nth-child(4){
      @include size(50%, 10%);
    }

    &>div:nth-child(5){
      @include size(50%, 20%);
    }

    &>div:nth-child(6){
      @include size(50%, 5%);
    }

  }




main{
  @include size(inherit, 60%);
  @include menue-setting;


  &>section{
    @include size(80%, 45%);
  }

  &>section:nth-child(1){
    @include flex-setting(center, center );
    flex-direction: column;

    &>div:first-child{
    @include box-style(45vw, 45vw, $color-2);
    border-radius: 50%;
    }

    &>div:last-child{
      @include size(80%, 20%);
      @include flex-setting(flex-start, center );
      position: relative;
      bottom: 100px;
      color: $color-5;
    }
  }

  &>section:nth-child(2){
    @include flex-setting(space-around, center);

    &>div{
      @include size(30%, 80%);
      color: $color-5;
    }
    
    &>div:nth-child(1){
      @include flex-setting(center, flex-start);
    }

    &>div:nth-child(2){
      @include flex-setting(space-between, center);
      flex-direction: column;
    }

    &>div:nth-child(3){
      @include flex-setting(center, flex-end);
    }
  }
}










