$width-root:100vw;
$height-root:120vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:rgb(114, 114, 114);
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:rgb(32, 42, 51);


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}


// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}


@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin text-style($jus, $ali) {
  color: $color-3;
  display: flex;
  justify-content:$jus ;
  align-items: $ali;
}

@mixin grid-style {
  display: grid;
  grid-template-columns: repeat(7, minmax(200px, auto));
  gap: 1vw;
}

@mixin pop-up-style {
  opacity: 0.8;
  position: absolute;
  left: 5vw;
  top: 25vh;
}


@mixin btn-style($w, $h) {
  width: $w;
  height: $h;
  border: $solid-gray;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

// ------------------------------------------------------------------



@media(min-width:1020px){

  header{

    &>div{
      display: none;
    }

    &>h1{
    @include size(90%, 80%);
    @include flex-setting(flex-start, flex-end);
    margin-left: 4vw;
    padding-bottom: 10px;
    }
  }

  #pop-up{
    flex-direction: row;
  
    &>div:first-child{
      @include box-style(40%, 80%, $color-2);
    }
  
    &>div:last-child{
      @include size(40%, 90%);
      &>div:nth-child(1){
    
        &>div:nth-child(2){
          @include flex-setting(space-around, center);
        }
      }
  
      &>div:nth-child(2){
        @include btn-style(15%, 8%);
      }
    }
  }
  
}