$width-root:100vw;
$height-root:100vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$dotted-gray:2px dotted #888;
$solid-red:1px solid #613c3c;
$solid-col:1px solid #4F787D;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:#AACCBE;
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:rgb(32, 42, 51);


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}


// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}


@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin text-style($jus, $ali) {
  color: $color-3;
  display: flex;
  justify-content:$jus ;
  align-items: $ali;
}

@mixin grid-style {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, auto));
  gap: 1vw;
}

@mixin pop-up-style {
  position: absolute;
  left: 5vw;
  top: 25vh;
}

@mixin btn-style($w, $h) {
  width: $w;
  height: $h;
  border: $solid-col;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@mixin bgimg-style ($url){
  background-image: $url;
  background-size: cover;
  background-repeat: no-repeat;
}



// ------------------------------------------------------------------

#root{
  @include root-style;
  color: #4F787D;
  background-color: #BCDAC5;
}

header{
  @include size($per-100, 20vh);
  @include flex-setting(space-around, center);
  flex-direction: column;


  &>div{
    @include size(95%, 40%);
    @include flex-setting(flex-end, flex-end);

    &>i{
      margin: 10px;
      cursor: pointer;
    }
  }

  &>h1{
    @include size(90%, 60%);
    margin-left: 10px;
    border-bottom: $dotted-gray;
  }
}


main{
  @include size($per-100, 80vh);
  @include flex-setting(space-around, center);
  flex-direction: column;

  &>section{
    @include size($per-100, 30vh);
    @include flex-setting(space-around, flex-end);
    flex-direction: column;

    &>div:first-child{
      @include size(95%, 10%);
    }

    &>div:last-child{
      @include size(95%, 80%);
      overflow: hidden;
      @include grid-style();

      &>div{
        opacity: 0.5;
      }
    }
  }

  &>section:nth-child(1){

    &>div:last-child{

      &>div:nth-child(1){
        @include bgimg-style(url(./img/배두훈1.png));
      }

      &>div:nth-child(2){
        @include bgimg-style(url(./img/배두훈2.png));
      }

      &>div:nth-child(3){
        @include bgimg-style(url(./img/배두훈3.png));
      }

      &>div:nth-child(4){
        @include bgimg-style(url(./img/배두훈4.png));
      }

      &>div:nth-child(5){
        @include bgimg-style(url(./img/배두훈5.png));
      }
    }
  }

  &>section:nth-child(2){

    &>div:last-child{

      &>div:nth-child(1){
        @include bgimg-style(url(./img/강형호1.png));
      }

      &>div:nth-child(2){
        @include bgimg-style(url(./img/강형호2.png));
      }

      &>div:nth-child(3){
        @include bgimg-style(url(./img/강형호3.png));
      }

      &>div:nth-child(4){
        @include bgimg-style(url(./img/강형호4.png));
      }

      &>div:nth-child(5){
        @include bgimg-style(url(./img/강형호5.png));
      }
    }
  }

  &>section:nth-child(3){
    display: none;
  }

  &>section:nth-child(4){
    display: none;
  }
}


#pop-up{
  @include box-style(90%, 50%, $color-3);
  @include pop-up-style();
  @include flex-setting(space-evenly, center);
  flex-direction: column;

  &>div:first-child{
    @include size(90%, 55%);
    @include bgimg-style(url(./img/고우림2.png));
  }

  &>div:last-child{
    @include size(95%, 35%);
    @include flex-setting(space-evenly, center);
    flex-direction: column;
    
    &>div:nth-child(1){
      @include size($per-100, 60%);
      @include flex-setting(space-between, center);
  
      &>div:nth-child(1){
        @include size(5%, 15%);

        &>i{
          cursor: pointer;
        }
      }
  
      &>div:nth-child(2){
        @include size(60%, 20%);
      }
  
      &>div:nth-child(3){
        @include size(5%, 15%);
        &>i{
          cursor: pointer;
        }
      }
    }

    &>div:nth-child(2){
      @include btn-style(20%, 15%);
    }
  }

  
}



















