$width-root:100vw;
$height-root:100vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$dotted-gray:2px dotted #888;
$solid-red:1px solid #613c3c;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:rgb(114, 114, 114);
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:rgb(32, 42, 51);


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}


// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}


@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin text-style($jus, $ali) {
  color: $color-3;
  display: flex;
  justify-content:$jus ;
  align-items: $ali;
}

@mixin grid-style($rep) {
  display: grid;
  grid-template-rows: $rep;
  gap: 2vw;
}

@mixin btn-style($w, $h) {
  width: $w;
  height: $h;
  border: $solid-gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@mixin bgimg-style ($url){
  background-image: $url;
  background-size: cover;
  background-repeat: no-repeat;
}
// ------------------------------------------------------------------
#root{
  @include root-style;
  color: #4F787D;
  background-color: #BCDAC5;
  @include flex-setting(center, center);
}

header{
  @include size($per-100, 8vh);
  @include flex-setting(center, center);

  &>div{
    @include size(95%, $per-100);
    @include flex-setting(flex-end, flex-end);

    &>i{
      margin: 10px;
      cursor: pointer;
    }
  }
}

main{
  @include size($per-100, 92vh);
  @include flex-setting(center, center);
  flex-direction: column;

  &>section:first-child{
    @include size(90%, 10vh);
    border-bottom: $dotted-gray;
  }

  &>section:nth-child(2){
    @include size(90%, 5vh);
    @include flex-setting(center, center);

    &>h3{
      @include size(90%, 90%);
      @include flex-setting(flex-start, center);
    }
  }
  
  &>section:last-child{
    @include size(90%, 77vh);
    @include grid-style(repeat(3, minmax(10%, auto)));

    &>div{
      @include flex-setting(space-around, center);

      &>div:first-child{
        @include size(50%, $per-100);
        @include flex-setting(space-around, center);
        flex-direction: column;

        &>p:first-child{
          @include size($per-100, 10%);
        }

        &>p:last-child{
          @include size($per-100, 80%);
        }
      }

      &>div:last-child{
        @include box-style(30%, 50%, $color-1);
      }
    }

    &>div:nth-child(1){
      &>div:last-child{
        @include bgimg-style(url(./img/단독콘1.png));
      }
    }

    &>div:nth-child(2){
      &>div:last-child{
        @include bgimg-style(url(./img/유닛콘1.png));
      }
    }

    &>div:nth-child(3){
      &>div:last-child{
        @include bgimg-style(url(./img/팬텀콘1.png));
      }
    }
  }

  
}









