$width-root:100vw;
$height-root:150vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$dotted-gray:2px dotted #888;
$solid-red:1px solid #613c3c;
$solid-col:1px solid #4F787D;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:rgb(114, 114, 114);
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:#4F787D;


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}


// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}


@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin text-style($jus, $ali) {
  color: $color-2;
  display: flex;
  justify-content:$jus ;
  align-items: $ali;
}

@mixin grid-style ($colum, $row){
  display: grid;
  grid-template-columns: $colum;
  grid-template-rows: $row;
  gap: 1vw;
}

@mixin bgimg-style ($url){
  background-image: $url;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}



// ------------------------------------------------------------------

#root{
  @include root-style;
  color: #4F787D;
  background-color: #BCDAC5;
}

header{
  @include size($per-100, 10vh);
  @include flex-setting(center, center);

  &>div{
    @include size(95%, $per-100);
    @include flex-setting(flex-end, flex-end);

    &>i{
      margin: 10px;
      cursor: pointer;
    }
  }
}

main{
  @include size($per-100, 140vh);
  @include flex-setting(center, center);
  flex-direction: column ;

  &>section:nth-child(1){
    @include size(90%, 10vh);
    padding-left: 2vw;

    &>h1{
      @include size($per-100, 90%);
      @include flex-setting(flex-start, center);
      border-bottom: $dotted-gray;
    }
  }

  &>section:nth-child(2){
    @include size(90%, 115vh);
    @include grid-style(repeat(2, minmax(100px, auto)), repeat(6, minmax(100px, auto)));


    &>div{
      @include flex-setting(space-around, center );
      flex-direction: column;

      div:first-child{
        @include size(70%, 80%);
        cursor: pointer;
      }

      &>div:last-child{
        @include size(90%, 10%);
        @include flex-setting(center, center );
      }

    }

    &>div:nth-child(1){
      div:first-child{
        @include bgimg-style(url(./img/video_1.png));
      }
    }

    &>div:nth-child(2){
      div:first-child{
        @include bgimg-style(url(./img/video_2.png));
      }
    }

    &>div:nth-child(3){
      div:first-child{
        @include bgimg-style(url(./img/video_3.png));
      }
    }

    &>div:nth-child(4){
      div:first-child{
        @include bgimg-style(url(./img/video_4.png));
      }
    }

    &>div:nth-child(5){
      div:first-child{
        @include bgimg-style(url(./img/video_5.png));
      }
    }

    &>div:nth-child(6){
      div:first-child{
        @include bgimg-style(url(./img/video_6.png));
      }
    }

    &>div:nth-child(7){
      div:first-child{
        @include bgimg-style(url(./img/video_7.png));
      }
    }

    &>div:nth-child(8){
      div:first-child{
        @include bgimg-style(url(./img/video_8.png));
      }
    }

    &>div:nth-child(9){
      div:first-child{
        @include bgimg-style(url(./img/video_9.png));
      }
    }

    &>div:nth-child(10){
      div:first-child{
        @include bgimg-style(url(./img/video_10.png));
      }
    }

    &>div:nth-child(11){
      div:first-child{
        @include bgimg-style(url(./img/video_11.png));
      }
    }


    &>div:nth-child(12){
      div:first-child{
        @include bgimg-style(url(./img/video_12.png));
      }
    }


  }

  &>section:nth-child(3){
    @include size(90%, 15vh);
    @include flex-setting(center, center);
    flex-direction: column ;

    &>div{
      @include box-style(10px, 10px, $color-6);
      border-radius: 50%;
      margin: 10px;
    }
  }

}



















