$width-root:100vw;
$height-root:100vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:rgb(114, 114, 114);
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:rgb(32, 42, 51);


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}


// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
  border-radius: 20px;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}


@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin text-style($jus, $ali) {
  color: $color-2;
  display: flex;
  justify-content:$jus ;
  align-items: $ali;
}




// ------------------------------------------------------------------



@media(min-width:1020px){

  header{
    @include size($per-100, 5vh);
    &>div{
      display: none;
    }
  }

  main{
    &>section:nth-child(2){
      flex-direction: row;
      
      &>div:first-child{
        flex-direction: column;
  
        &>div{
          @include size($per-100, 50%);
        }
  
        &>div:first-child{
          flex-direction: row;

  
          &>div{
            @include size(30%, 50%);
  
            &>div:nth-child(1){
              @include box-style(120px, 120px,$color-1 );
            }
  
            &>div:nth-child(2){
              @include size(50%, 90%);
              
            }
          }
  
          &>div:nth-child(4){
            display: none;
          }
        }
  
        &>div:last-child{
          flex-direction: row;
          
          &>div{
            @include size(30%, 50%);
  
            &>div:nth-child(1){
              @include box-style(120px, 120px,$color-1 );
            }
  
            &>div:nth-child(2){
              @include size(50%, 90%);
              
            }
          }
  
          &>div:nth-child(4){
            display: none;
          }
        }
      }

      &>div:last-child{
        display: none;
      }
    }

    &>div{
      @include size(10%, 4%);
      border: $solid-gray;
      border-radius: 20px;
      @include flex-setting(center, center);
      cursor: pointer;
    }
  
  }
  

}