$width-root:100vw;
$height-root:110vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$dotted-gray:2px dotted #888;
$solid-red:1px solid #613c3c;
$solid-col:1px solid #4F787D;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:rgb(114, 114, 114);
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:rgb(32, 42, 51);


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}


// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
  border-radius: 20px;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}


@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin text-style($jus, $ali) {
  color: $color-2;
  display: flex;
  justify-content:$jus ;
  align-items: $ali;
}

@mixin bgimg-style ($url){
  background-image: $url;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}


// ------------------------------------------------------------------

@media(min-width:500px){

  header{
    @include size($per-100, 10vh);

  }

  main{
    @include size($per-100, 90vh);
    @include flex-setting(space-evenly, center);
    flex-direction: column;

    &>section:nth-child(1){
      @include size(90%, 8vh);
    }
    
    &>section:nth-child(2){
      @include size(90%, 82vh);
  
      &>div:first-child{
        @include size(90%, 90%);
        flex-direction: row;
  
        &>div{
          @include size(50%, $per-100);
        }
  
        &>div:first-child{
          @include flex-setting(space-around, center);
          flex-direction: column;

  
          &>div{
            @include size(90%, 30%);
            @include flex-setting(space-between, center);

  
            &>div:nth-child(1){
              @include size(110px, 110px);
              cursor: pointer;
            }
  
            &>div:nth-child(2){
              @include size(50%, 90%);
            }
          }
  
          &>div:nth-child(4){
            display: flex;
            &>div:nth-child(1){
              @include bgimg-style(url(./img/video_4.png));
            }
          }
        }
  
        &>div:last-child{
          @include flex-setting(space-around, center);
          flex-direction: column;
          
          &>div{
            @include size(90%, 30%);
            @include flex-setting(space-between, center);
  
            &>div:nth-child(1){
              @include size(110px, 110px);
              cursor: pointer;
            }
  
            &>div:nth-child(2){
              @include size(50%, 90%);
            }
          }
  
          &>div:nth-child(4){
            display: flex ;
            &>div:nth-child(1){
              @include bgimg-style(url(./img/video_8.png));
            }
          }
        }
      }
  
    }
  
  }

  
}