$width-root:100vw;
$height-root:120vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$dotted-gray:2px dotted #888;
$solid-red:1px solid #613c3c;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:rgb(114, 114, 114);
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:rgb(32, 42, 51);


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}


// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
  border-radius: 20px;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}


@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin text-style($jus, $ali) {
  color: $color-3;
  display: flex;
  justify-content:$jus ;
  align-items: $ali;
}

@mixin bgimg-style ($url){
  background-image: $url;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

// ------------------------------------------------------------------

#root{
  @include root-style;
  color: #4F787D;
  background-color: #BCDAC5;

}

header{
  @include size($per-100, 20vh);

  &>div{
    @include size(95%, 40%);
    @include flex-setting(flex-end, flex-end);

    &>i{
      margin: 10px;
      cursor: pointer;
    }
  }

  &>h1{
    @include size(90%, 60%);
    margin-left: 10px;
    border-bottom: $dotted-gray;
  }
}

main{
  @include size($per-100, 100vh);
  @include flex-setting(space-around, center);
  flex-direction: column;

  &>section:first-child{
    @include size(90%, 40vh);
    display: flex;
    flex-direction: column;

    &>h3{
      @include size(95%, 10%);
    }

    &>div{
      @include size(95%, 80%);
      @include flex-setting(space-between, center);

      &>div:first-child{
        @include size(45%, 60%);
        @include bgimg-style(url(./img/배두훈.png));
      }

      &>div:last-child{
        @include size(50%, $per-100);
        @include flex-setting(space-evenly, flex-start);
        flex-direction: column;

        &>h4{
          height: 10%;
        }

        &div{
          height: 80%;
        }
      }

    }
  }

  &>section:last-child{
    @include size(90%, 55vh);
    @include flex-setting(space-around, center);
    flex-direction: column;

    &>div{
    @include flex-setting(space-around, center);
    }


    &>div:nth-child(1){
      @include size(90%, 35%);

      &>div:first-child{
      @include size(45%, $per-100);
      }

      &>div:last-child{
        @include size(40%, 80%);
        @include bgimg-style(url(./img/member1.png));
      }
    }

    &>div:nth-child(2){
      @include size(90%, 60%);

      &>div:nth-child(1){
        @include size(60%, 50%);
        @include bgimg-style(url(./img/member2.png));
        @include position-setting(1);
        bottom: 8vh;
      }

      &>div:nth-child(2){
        @include size(70%, 60%);
        @include bgimg-style(url(./img/member3.png));
        @include position-setting(2);
        right: 5vw;
        top: 2vh;
      }

    }
  }
}










