$width-root:100vw;
$height-root:120vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:rgb(114, 114, 114);
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:rgb(32, 42, 51);


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}


// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}


@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin text-style($jus, $ali) {
  color: $color-3;
  display: flex;
  justify-content:$jus ;
  align-items: $ali;
}



// ------------------------------------------------------------------



@media(min-width:1020px){
  header{
    &>div{
      display: none;
    }
  }

  main{

    &>section:first-child{
      flex-direction: row;
      @include flex-setting(center, center);


      &>h1{
        position: absolute;
        top: 10vh;
      }

      &>div:nth-child(2){
        @include size(40%,55% );

        &>div{
          @include box-style(40%,80% , $color-2);
        }

        &>h3{
          @include size(45%, 20%);
        }
      }
      
      &>div:nth-child(3){
        @include size(55%,55%);
        @include flex-setting(flex-end, center);

        &>p{
          @include size($per-100, 15%);
          @include flex-setting(flex-start, flex-end);
        }
      }
    }

    &>section:last-child{

      &>div{
        @include size($per-100, 90%);
        flex-direction: row;

        &>div{
          @include size(45%, 80% );
          @include flex-setting(space-between, center);
  
          &>div{

            @include size(45%, $per-100 ); 
            @include flex-setting(space-evenly, center);
          }
        }

      }
    }


  }
}