$width-root:100vw;
$height-root:120vh;
$color-black:black;
$color-white:white;
$solid-black:1px solid black;
$solid-gray:1px solid #888;
$solid-red:1px solid #613c3c;
$per-100:100%;
$color-1:rgb(222, 223, 224);
$color-2:rgb(168, 168, 168);
$color-3:rgb(114, 114, 114);
$color-4:rgb(73, 73, 73);
$color-5:rgb(77, 91, 105);
$color-6:rgb(32, 42, 51);


// ------------------------------------------------------------------


*{margin: 0; padding: 0; box-sizing: border-box;}


// ------------------------------------------------------------------

.flex{display: flex;}

.position-absolute{position: absolute;}

.position-relative{position: relative;}

.flex-column{flex-direction: column;}

.flex-row{flex-direction: row;}


@mixin flex-setting($jus, $ali) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
}


@mixin root-style {
  width: $width-root;
  height: $height-root;
  display: flex;
  flex-direction: column;
}  

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin box-style($w, $h, $col) {
  width: $w;
  height: $h;
  background-color: $col;
}

@mixin position-setting ($z-in,){
  position: relative;
  z-index: $z-in;
}


@mixin font-style($font-s, $font-w){
  font-size: $font-s;
  font-weight: $font-w;
  color: $color-3;
}

@mixin text-style($jus, $ali) {
  color: $color-3;
  display: flex;
  justify-content:$jus ;
  align-items: $ali;
}



// ------------------------------------------------------------------

#root{
  @include root-style;
  color: $color-2;
}

header{
  @include size($per-100, 10vh);
  @include flex-setting(center, center);

  &>div{
    @include size(95%, $per-100);
    @include flex-setting(flex-end, flex-end);

    &>i{
      margin: 10px;
      cursor: pointer;
    }
  }
}

main{
  @include size($per-100, 110vh);
  @include flex-setting(center, center);
  flex-direction: column;



  &>section{
    @include size(95%, 50%);
    @include flex-setting(space-around, center);
    flex-direction: column;
  }

  &>section:first-child{

    &>h1{
      @include size(90%, 15%);
    }

    &>div:nth-child(2){
      @include size(90%,40% );
      @include flex-setting(space-between, flex-end);

      &>div{
        @include box-style(45%,90% , $color-2);
      }
    }

    &>div:nth-child(3){
      @include size(90%, 40% );
      @include flex-setting(space-around, center);
      flex-direction: column;

      &>p{
        font-size: 14px;
        text-align: center;
      }
    }
  }

  &>section:last-child{
    
    &>h3{
    @include size(90%, 8% );
    }

    &>div{
    @include size(90%, 85% );
    @include flex-setting(space-around, center);
    flex-direction: column;

      &>div{
        @include size(90%, 45% );
        @include flex-setting(space-around, center);

        &>div{
          @include size(45%, $per-100 ); 
          @include flex-setting(space-around, center);
          flex-direction: column;

          &>div:nth-child(1){
            @include box-style(95%, 80%, $color-2);
          }

          &>div:nth-child(2){
            @include size(45%, 10%);
            cursor: pointer;
          }
        }
      }
    }
  }
}



















